@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body{
    background-color: var(--grisClaro);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
}
p{
    font-size: 16px;
}

p.precio{
    font-size: 18px;
}

p.promo{
    color: var(--verde);
}
:root{
    --amarillo:#EAC926;
    --azul:#03264c;
    --celeste:#1259c3;
    --grisOscuro:#666;
    --grisClaro:#ebebeb;
    --verde: #39b54a;
}

h2.titulo{
    width: 100%;
    font-size: 24px;
    margin: 1%;
}
